In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [11]:
df = pd.read_csv('train1.csv', index_col=0)
df

,full_name,sex,birth_year,city,state,country,continent,latitude,longitude,occupation,industry,domain,article_languages,page_views,average_views,historical_popularity_index
id,,,,,,,,,,,,,,,,
8729,Nikita Mikhalkov,Male,1945,Moscow,NaN,Russia,Europe,55.75000,37.61667,Film Director,Film And Theatre,Arts,34,999881,29408,23.1898
1462,Uesugi Kenshin,Male,1530,Echigo Province,NaN,Japan,Asia,NaN,NaN,Politician,Government,Institutions,27,5395986,199851,24.6744
10135,Pope Hormisdas,Male,450,Frosinone,NaN,Italy,Europe,41.63333,13.35000,Religious Figure,Religion,Institutions,54,385709,7143,24.9903
1126,Mohammad Najibullah,Male,1947,Gardez,NaN,Afghanistan,Asia,33.60000,69.21694,Physician,Medicine,Science & Technology,32,984299,30759,21.3890
1534,André Frédéric Cournand,Male,1895,Paris,NaN,France,Europe,48.85670,2.35080,Physician,Medicine,Science & Technology,30,144958,4832,22.4394
2799,Rodrigo Taddei,Male,1980,São Paulo,NaN,Brazil,South America,-23.55000,-46.63333,Soccer Player,Team Sports,Sports,27,855712,31693,16.9731
7747,Mari Kiviniemi,Female,1968,Seinäjoki,NaN,Finland,Europe,62.79167,22.84167,Politician,Government,Institutions,45,459411,10209,17.2561
164,John II of France,Male,1319,Le Mans,NaN,France,Europe,48.00770,0.19840,Politician,Government,Institutions,49,1086970,22183,25.6335
3479,Jean Fouquet,Male,1420,Tours,NaN,France,Europe,47.39360,0.68920,Painter,Fine Arts,Arts,28,647350,23120,24.2512
5024,Hergé,Male,1907,Etterbeek,NaN,Belgium,Europe,50.83333,4.38333,Comic Artist,Design,Arts,50,2997849,59957,24.5425
9482,William Lawrence Bragg,Male,1890,Adelaide,NaN,Australia,Oceania,-34.92900,138.60100,Physicist,Natural Sciences,Science & Technology,55,884025,16073,24.3210
8545,Luis Barragán,Male,1902,Guadalajara,NaN,Mexico,North America,20.66667,-103.35000,Architect,Design,Arts,32,1470270,45946,22.0361
4775,Ezer Weizman,Male,1924,Tel Aviv,NaN,Israel,Asia,32.06667,34.80000,Politician,Government,Institutions,31,610999,19710,23.2970
3176,Lazare Carnot,Male,1753,Nolay,NaN,France,Europe,46.95250,4.63400,Politician,Government,Institutions,27,523161,19376,23.8919
4998,Mairead Corrigan,Female,1944,Belfast,NaN,United Kingdom,Europe,54.59700,-5.93000,Social Activist,Activism,Public Figure,36,319173,8866,22.2830
135,Soseki Natsume,Male,1867,Tokyo,NaN,Japan,Asia,35.68333,139.68333,Writer,Language,Humanities,37,4175800,112859,24.6024
109,Mario Draghi,Male,1947,Rome,NaN,Italy,Europe,41.90000,12.50000,Economist,Social Sciences,Science & Technology,29,1885472,65016,21.6368
1751,José Eduardo dos Santos,Male,1942,Luanda,NaN,Angola,Africa,-8.83833,13.23444,Politician,Government,Institutions,53,1342446,25329,23.4940
9218,Andreas Möller,Male,1967,Frankfurt,NaN,Germany,Europe,50.11667,8.68333,Soccer Player,Team Sports,Sports,28,1015446,36266,19.2092
4324,Nikolay Basov,Male,1922,Usman,NaN,Russia,Europe,52.05000,39.73333,Physicist,Natural Sciences,Science & Technology,41,264942,6462,23.2523
2117,Andrei Bely,Male,1880,Moscow,NaN,Russia,Europe,55.75000,37.61667,Writer,Language,Humanities,29,625785,21579,22.7175
11311,Ivars Godmanis,Male,1951,Riga,NaN,Latvia,Europe,56.94889,24.10639,Politician,Government,Institutions,29,226204,7800,19.3397
4781,Moshe Dayan,Male,1915,Degania Alef,NaN,Israel,Asia,32.70810,35.57490,Politician,Government,Institutions,41,2740806,66849,24.7190
6716,Paul Breitner,Male,1951,Kolbermoor,NaN,Germany,Europe,47.85000,12.06667,Soccer Player,Team Sports,Sports,38,1508563,39699,22.3455
4327,Maurice Gibb,Male,1949,Douglas,NaN,Isle Of Man,Europe,54.14521,-4.48172,Musician,Music,Arts,27,5016489,185796,21.2584
8424,Bal Gangadhar Tilak,Male,1856,Chikhli,NaN,India,Asia,20.75000,73.07000,Social Activist,Activism,Public Figure,28,1844314,65868,21.0511
8609,Louis XI of France,Male,1423,Bourges,NaN,France,Europe,47.08440,2.39640,Politician,Government,Institutions,52,2031572,39069,25.4180
2262,"Marie-Adélaïde, Grand Duchess of Luxembourg",Female,1894,Berg,NaN,Luxembourg,Europe,49.81417,6.08694,Politician,Government,Institutions,29,121222,4180,21.5627
8344,Bent Larsen,Male,1935,Thisted,NaN,Denmark,Europe,56.95000,8.70000,Writer,Language,Humanities,29,312015,10759,21.1349
10986,Chloë Sevigny,Female,1974,Springfield,MA,United States,North America,42.11241,-72.54746,Actor,Film And Theatre,Arts,28,8559979,305714,18.6477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5272,Arthur Balfour,Male,1848,Whittingehame,NaN,United Kingdom,Europe,55.95000,-2.63300,Politician,Government,Institutions,41,984104,24003,23.5813
8244,Mansa Musa,Male,1280,Mali,NaN,Mali,Africa,12.65000,-8.00000,Politician,Government,Institutions,29,1190918,41066,22.3075
8322,Robert Huth,Male,1984,Biesdorf,NaN,Germany,Europe,NaN,NaN,Soccer Player,Team Sports,Sports,27,1088443,40313,16.0774
6044,Johann Sebastian Bach,Male,1685,Eisenach,NaN,Germany,Europe,50.97611,10.32056,Composer,Music,Arts,144,29753654,206623,30.1672
5143,Pope Eugene IV,Male,1383,Venice,NaN,Italy,Europe,45.43750,12.33583,Religious Figure,Religion,Institutions,51,677138,13277,24.9015
2936,Jean Dausset,Male,1916,Toulouse,NaN,France,Europe,43.60450,1.44400,Physician,Medicine,Science & Technology,35,263886,7540,22.3083
7245,Alexander Fadeyev,Male,1901,Kimry,NaN,Russia,Europe,56.86667,37.35000,Writer,Language,Humanities,26,109150,4198,21.5591
2718,Ricky Martin,Male,1971,San Juan,NaN,Puerto Rico,North America,18.45000,-66.06667,Singer,Music,Arts,57,13287375,233112,20.9529
8710,Cyrus I of Anshan,Male,-600,Other,NaN,Unknown,Unknown,NaN,NaN,Politician,Government,Institutions,28,340268,12152,25.3172
2390,Har Gobind Khorana,Male,1922,Raipur,NaN,India,Asia,NaN,NaN,Biologist,Natural Sciences,Science & Technology,42,756357,18009,21.3735
8142,Ben Foster,Male,1980,Boston,MA,United States,North America,42.35806,-71.06361,Actor,Film And Theatre,Arts,27,1090177,40377,15.7193
4307,Egon Krenz,Male,1937,Kołobrzeg,NaN,Poland,Europe,54.18333,15.58333,Politician,Government,Institutions,37,1279672,34586,23.1503
4348,Siad Barre,Male,1919,Garbahaareey,NaN,Somalia,Africa,3.35000,42.26667,Politician,Government,Institutions,34,1019305,29980,22.8157
3139,Pierre de Ronsard,Male,1524,Couture-sur-Loir,NaN,France,Europe,47.75440,0.68860,Writer,Language,Humanities,38,2326432,61222,25.0085
3757,Mae West,Female,1893,New York,NY,United States,North America,40.69417,-73.91861,Actor,Film And Theatre,Arts,38,4754418,125116,24.1362
860,Arvydas Sabonis,Male,1964,Kaunas,NaN,Lithuania,Europe,54.90000,23.88611,Basketball Player,Team Sports,Sports,28,1673395,59764,19.0838
6653,Chris Hoy,Male,1976,Edinburgh,NaN,United Kingdom,Europe,55.95306,-3.18889,Athlete,Individual Sports,Sports,26,1609547,61906,13.4278
4850,Wilhelm Steinitz,Male,1836,Prague,NaN,Czech Republic,Europe,50.08333,14.41667,Chessmaster,Individual Sports,Sports,48,735488,15323,24.1568
11198,Pope John Paul I,Male,1912,Canale d'Agordo,NaN,Italy,Europe,46.35000,11.91667,Religious Figure,Religion,Institutions,80,9521951,119024,25.2397
6998,Alex Rodrigo Dias da Costa,Male,1982,Niterói,NaN,Brazil,South America,-22.88333,-43.10361,Soccer Player,Team Sports,Sports,36,2405317,66814,16.9108
1459,Tamar of Georgia,Female,1160,Mtskheta,NaN,Georgia,Asia,41.85000,44.71667,Politician,Government,Institutions,32,667290,20853,23.4218
3324,Lamberto Dini,Male,1931,Florence,NaN,Italy,Europe,43.78333,11.25000,Politician,Government,Institutions,32,472914,14779,21.7909
623,Galla Placidia,Female,392,Istanbul,NaN,Turkey,Asia,41.01224,28.97602,Politician,Government,Institutions,32,786978,24593,25.8573
10930,David Strathairn,Male,1949,San Francisco-Bay Area,CA,United States,North America,37.78333,-122.41667,Actor,Film And Theatre,Arts,26,2541606,97754,20.7387
4520,Daniel Schneidermann,Male,1958,Paris,NaN,France,Europe,48.85670,2.35080,Journalist,Language,Humanities,38,207109,5450,19.7055
6198,Manuel Azaña,Male,1880,Alcalá de Henares,NaN,Spain,Europe,40.46667,-3.36667,Politician,Government,Institutions,38,1227109,32292,23.7385
4329,Nuno Gomes,Male,1976,Amarante,NaN,Portugal,Europe,41.26667,-8.06667,Soccer Player,Team Sports,Sports,38,2313541,60883,18.2604
11120,Niklas Luhmann,Male,1927,Lüneburg,NaN,Germany,Europe,53.25250,10.41444,Sociologist,Social Sciences,Science & Technology,29,1970676,67954,24.6381
7115,Bradley Manning,Male,1987,Crescent,OK,United States,North America,35.95306,-97.59472,Military Personnel,Military,Institutions,29,5028336,173391,13.9879
8404,Manolo Escobar,Male,1931,El Ejido,NaN,Spain,Europe,36.76667,-2.80000,Singer,Music,Arts,27,718970,26629,20.3271

In [7]:
# List of columns
df.columns

Index(['id', 'full_name', 'sex', 'birth_year', 'city', 'state', 'country',
       'continent', 'latitude', 'longitude', 'occupation', 'industry',
       'domain', 'article_languages', 'page_views', 'average_views',
       'historical_popularity_index'],
      dtype='object')

In [8]:
# Data types of columns
df.dtypes

id                               int64
full_name                       object
sex                             object
birth_year                      object
city                            object
state                           object
country                         object
continent                       object
latitude                       float64
longitude                      float64
occupation                      object
industry                        object
domain                          object
article_languages                int64
page_views                       int64
average_views                    int64
historical_popularity_index    float64
dtype: object

In [22]:
df['state'].value_counts()

6

In [23]:
test = pd.read_csv("test.csv", index_col=0)
print(test.dtypes)
test.head()

full_name             object
sex                   object
birth_year             int64
city                  object
state                 object
country               object
continent             object
latitude             float64
longitude            float64
occupation            object
industry              object
domain                object
article_languages      int64
page_views             int64
average_views          int64
dtype: object

,full_name,sex,birth_year,city,state,country,continent,latitude,longitude,occupation,industry,domain,article_languages,page_views,average_views
id,,,,,,,,,,,,,,,
6217,Vidkun Quisling,Male,1887,Fyresdal,NaN,Norway,Europe,59.16583,8.01972,Politician,Government,Institutions,48,2236778,46600
3763,Charles Louis Alphonse Laveran,Male,1845,Paris,NaN,France,Europe,48.85670,2.35080,Physician,Medicine,Science & Technology,42,265010,6310
4990,John Goodman,Male,1952,St. Louis,MO,United States,North America,38.62722,-90.19778,Actor,Film And Theatre,Arts,35,9553161,272947
7714,Eugen d'Albert,Male,1864,Glasgow,NaN,United Kingdom,Europe,55.85800,-4.25900,Composer,Music,Arts,26,173877,6688
6032,Max Bruch,Male,1838,Cologne,NaN,Germany,Europe,50.93639,6.95278,Composer,Music,Arts,35,980379,28011

In [24]:
y = df['historical_popularity_index']
X = df[['page_views','average_views', 'article_languages']]
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [29]:
model = LinearRegression()
for i in range(4):
    X_train, X_test, y_train, y_test = train_test_split(X, y)
    model.fit(X_train, y_train) # acutal training
    print(model.score(X_test, y_test))

0.22989713024
0.25178025328
0.264137205983
0.239385614232

In [26]:
model.fit(X, y)
test['historical_popularity_index'] = model.predict(test[['page_views', 'average_views', 'article_languages']].values)
test

,full_name,sex,birth_year,city,state,country,continent,latitude,longitude,occupation,industry,domain,article_languages,page_views,average_views,historical_popularity_index
id,,,,,,,,,,,,,,,,
6217,Vidkun Quisling,Male,1887,Fyresdal,NaN,Norway,Europe,59.16583,8.01972,Politician,Government,Institutions,48,2236778,46600,23.295575
3763,Charles Louis Alphonse Laveran,Male,1845,Paris,NaN,France,Europe,48.85670,2.35080,Physician,Medicine,Science & Technology,42,265010,6310,22.946289
4990,John Goodman,Male,1952,St. Louis,MO,United States,North America,38.62722,-90.19778,Actor,Film And Theatre,Arts,35,9553161,272947,20.622107
7714,Eugen d'Albert,Male,1864,Glasgow,NaN,United Kingdom,Europe,55.85800,-4.25900,Composer,Music,Arts,26,173877,6688,21.333538
6032,Max Bruch,Male,1838,Cologne,NaN,Germany,Europe,50.93639,6.95278,Composer,Music,Arts,35,980379,28011,22.109873
9480,Christoph Martin Wieland,Male,1733,Achstetten,NaN,Germany,Europe,48.25972,9.89750,Writer,Language,Humanities,34,653839,19231,22.062791
8052,Edgar Davids,Male,1973,Paramaribo,NaN,Suriname,South America,5.86667,-55.16667,Soccer Player,Team Sports,Sports,42,7219288,171888,21.918568
6766,Albert Kesselring,Male,1885,Marktsteft,NaN,Germany,Europe,49.70000,10.11667,Military Personnel,Military,Institutions,31,2014643,64988,21.487092
4109,Judas Maccabeus,Male,100,Modi'in-Maccabim-Re'ut,NaN,Israel,Asia,31.90765,35.00761,Religious Figure,Religion,Institutions,30,1254478,41816,21.526099
6958,Frederick IX of Denmark,Male,1899,Copenhagen,NaN,Denmark,Europe,55.77889,12.49694,Politician,Government,Institutions,39,1066091,27336,22.515007
2505,Guido d'Arezzo,Male,991,Paris,NaN,France,Europe,48.85670,2.35080,Composer,Music,Arts,38,1299635,34201,22.372659
7206,Katharina von Bora,Female,1499,Pegau,NaN,Germany,Europe,51.16667,12.25000,Companion,Companions,Public Figure,29,857249,29560,21.499164
10198,Andrew Carroll,Male,1989,Gateshead,NaN,United Kingdom,Europe,54.95000,-1.60000,Soccer Player,Team Sports,Sports,41,5360430,130742,22.075658
5328,Uli Hoeneß,Male,1952,Ulm,NaN,Germany,Europe,48.40000,9.98333,Businessperson,Business,Business & Law,28,2305504,82339,21.085371
399,Ian McEwan,Male,1948,Aldershot,NaN,United Kingdom,Europe,51.24800,-0.75800,Writer,Language,Humanities,40,2634532,65863,22.377595
5839,Asafa Powell,Male,1982,Spanish Town,NaN,Jamaica,North America,17.99588,-76.95511,Athlete,Individual Sports,Sports,43,3267811,75996,22.613093
8629,David Pizarro,Male,1979,Valparaíso,NaN,Chile,South America,-33.05000,-71.61667,Soccer Player,Team Sports,Sports,29,1716527,59191,21.322555
4265,Marc Anthony,Male,1968,New York,NY,United States,North America,40.71270,-74.00590,Singer,Music,Arts,33,11317560,342956,20.008321
5925,Rachel,Female,-3500,Paddan Aram,NaN,Iraq,Asia,NaN,NaN,Religious Figure,Religion,Institutions,36,2962282,82286,21.879418
7550,Nicolas Sarkozy,Male,1955,Paris,NaN,France,Europe,48.85670,2.35080,Politician,Government,Institutions,125,19888620,159109,30.111911
9893,Agnieszka Radwańska,Female,1989,Kraków,NaN,Poland,Europe,50.06139,19.93833,Tennis Player,Individual Sports,Sports,36,3196340,88787,21.839806
2666,Zillur Rahman,Male,1929,Bhairab Upazila,NaN,Bangladesh,Asia,24.05000,90.98833,Politician,Government,Institutions,28,401614,14343,21.489357
3812,Averroes,Male,1126,Córdoba,NaN,Spain,Europe,37.88333,-4.76667,Philosopher,Philosophy,Humanities,77,4246475,55149,26.133742
3760,Cassander,Male,-350,Other,NaN,Unknown,Unknown,NaN,NaN,Politician,Government,Institutions,34,972636,28607,22.006018
2710,Nana Mouskouri,Female,1934,Chania,NaN,Greece,Europe,35.51667,24.01667,Singer,Music,Arts,48,3663153,76316,23.107749
7730,Max Euwe,Male,1901,Amsterdam,NaN,Netherlands,Europe,52.36667,4.90000,Mathematician,Math,Science & Technology,46,500216,10874,23.320244
6615,Chet Baker,Male,1929,Yale,OK,United States,North America,36.11472,-96.69833,Musician,Music,Arts,39,3651102,93618,22.107375
2231,Warren Beatty,Male,1937,Richmond,VA,United States,North America,37.53333,-77.46667,Actor,Film And Theatre,Arts,45,7174624,159436,22.289116
11239,Lu Xun,Male,1881,Shaoxing,NaN,China,Asia,30.00000,120.58333,Writer,Language,Humanities,95,2322658,24449,28.150315
2488,Augusto Pinochet,Male,1915,Valparaíso,NaN,Chile,South America,-33.05000,-71.61667,Politician,Government,Institutions,76,9359759,123155,25.568052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9768,Ellen Johnson Sirleaf,Female,1938,Monrovia,NaN,Liberia,Africa,6.31333,-10.80139,Politician,Government,Institutions,69,1747237,25322,25.536300
402,Jude Law,Male,1972,Lewisham,NaN,United Kingdom,Europe,51.46146,-0.00537,Actor,Film And Theatre,Arts,53,19426719,366542,21.742451
6405,Alexander Balas,Male,-200,Izmir,NaN,Turkey,Asia,38.41861,27.13917,Politician,Government,Institutions,27,161803,5993,21.438304
564,Peter Zumthor,Male,1943,Basel,NaN,Switzerland,Europe,47.56667,7.60000,Architect,Design,Arts,29,1677263,57837,21.330626
8752,John Cazale,Male,1936,Boston,MA,United States,North America,42.40833,-71.01250,Actor,Film And Theatre,Arts,27,4026845,149142,20.590524
10860,Pope Cornelius,Male,200,Other,NaN,Unknown,NaN,41.90000,12.50000,Religious Figure,Religion,Institutions,55,472478,8591,24.240117
3501,Liv Ullmann,Female,1938,Tokyo,NaN,Japan,Asia,35.68333,139.68333,Actor,Film And Theatre,Arts,39,1626800,41713,22.426589
1876,Eugen Bleuler,Male,1857,Zollikon,NaN,Switzerland,Europe,47.33333,8.58333,Physician,Medicine,Science & Technology,27,720752,26695,21.315699
1176,Colin Powell,Male,1937,New York,NY,United States,North America,40.80903,-73.94837,Politician,Government,Institutions,46,7299883,158693,22.391537
9267,Boris Vian,Male,1920,Ville-d'Avray,NaN,France,Europe,48.82610,2.19330,Writer,Language,Humanities,37,3969016,107271,21.825925
8065,John Philip Sousa,Male,1854,"Washington, D.C.",NaN,United States,North America,NaN,NaN,Conductor,Music,Arts,27,1906687,70618,21.055571
8389,Claude Berri,Male,1934,Paris,NaN,France,Europe,48.85670,2.35080,Producer,Business,Business & Law,27,1109561,41095,21.230417
10429,John Adams,Male,1735,Boston,MA,United States,North America,42.20600,-71.00500,Politician,Government,Institutions,104,15321190,147319,28.146008
582,Robert F. Kennedy,Male,1925,Boston,MA,United States,North America,42.33167,-71.12167,Politician,Government,Institutions,49,13391006,273286,21.958361
3815,Titian,Male,1485,Pieve di Cadore,NaN,Italy,Europe,46.43333,12.36667,Painter,Fine Arts,Arts,67,7560886,112849,24.750934
7339,Charles III of Spain,Male,1716,Madrid,NaN,Spain,Europe,NaN,NaN,Politician,Government,Institutions,52,3078345,59199,23.614557
9049,Petr Nečas,Male,1964,Uherské Hradiště,NaN,Czech Republic,Europe,49.06583,17.45833,Politician,Government,Institutions,31,517007,16678,21.776867
8058,Frans Hals,Male,1580,Antwerp,NaN,Belgium,Europe,51.21667,4.40000,Painter,Fine Arts,Arts,50,1613237,32265,23.586512
4144,Reneé O'Connor,Female,1971,Katy,TX,United States,North America,29.79250,-95.82250,Actor,Film And Theatre,Arts,29,1352260,46630,21.397423
848,Alexander McQueen,Male,1969,Lewisham,NaN,United Kingdom,Europe,51.46146,-0.00537,Designer,Design,Arts,34,6608012,194353,21.002404
10919,Adolphe Quetelet,Male,1796,Ghent,NaN,Belgium,Europe,51.05000,3.73333,Astronomer,Natural Sciences,Science & Technology,28,463785,16564,21.476162
7086,Chris Martin,Male,1977,Exeter,NaN,United Kingdom,Europe,50.71667,-3.53333,Musician,Music,Arts,49,13683632,279258,21.920500
10195,Wilma Rudolph,Female,1940,Saint Bethlehem,TN,United States,North America,36.57194,-87.30000,Athlete,Individual Sports,Sports,28,1289628,46058,21.300928
2187,Malcolm Young,Male,1953,Glasgow,NaN,United Kingdom,Europe,55.85800,-4.25900,Musician,Music,Arts,26,4068097,156465,20.449345
10845,Valdemar IV Atterdag of Denmark,Male,1320,Other,NaN,Denmark,Europe,NaN,NaN,Politician,Government,Institutions,27,404746,14991,21.385015
4126,Sarah Connor,Female,1980,Delmenhorst,NaN,Germany,Europe,53.56528,10.00139,Singer,Music,Arts,28,2563864,91567,21.030544
3595,Robert Prosinečki,Male,1969,Villingen-Schwenningen,NaN,Germany,Europe,48.06028,8.45861,Coach,Team Sports,Sports,28,1425934,50926,21.272006
10267,Robert Musil,Male,1880,Klagenfurt,NaN,Austria,Europe,46.61667,14.30000,Writer,Language,Humanities,45,1485045,33001,23.081075
10569,Liu Xiang,Male,1983,Shanghai,NaN,China,Asia,NaN,NaN,Athlete,Individual Sports,Sports,33,2001589,60654,21.712342
4396,Raul Meireles,Male,1983,Porto,NaN,Portugal,Europe,41.16214,-8.62195,Soccer Player,Team Sports,Sports,45,4444807,98773,22.669094

In [27]:
test[['historical_popularity_index']].to_csv('sample_submission.csv')

In [15]:
df['birth_year'] = df['birth_year'].apply(pd.to_numeric, errors='coerce')
df['birth_year'] = df['birth_year'].fillna(0)
print(df.dtypes)
df.head()

id                               int64
id.1                             int64
full_name                       object
sex                             object
birth_year                     float64
city                            object
state                           object
country                         object
continent                       object
latitude                       float64
longitude                      float64
occupation                      object
industry                        object
domain                          object
article_languages                int64
page_views                       int64
average_views                    int64
historical_popularity_index    float64
dtype: object

,id,id.1,full_name,sex,birth_year,city,state,country,continent,latitude,longitude,occupation,industry,domain,article_languages,page_views,average_views,historical_popularity_index
0,4110,3728,Gao Xingjian,Male,1940.0,Ganzhou,NaN,China,Asia,25.86667,114.93333,Writer,Language,Humanities,63,1439340,22847,24.1041
1,8160,3769,Wassily Leontief,Male,1905.0,Munich,NaN,Germany,Europe,48.13333,11.56667,Economist,Social Sciences,Science & Technology,43,621949,14464,24.0845
2,4927,1777,Justus von Liebig,Male,1803.0,Darmstadt,NaN,Germany,Europe,49.86667,8.65000,Chemist,Natural Sciences,Science & Technology,44,1277543,29035,25.3021
3,3031,5856,William Stanley Jevons,Male,1835.0,Liverpool,NaN,United Kingdom,Europe,53.40000,-3.00000,Economist,Social Sciences,Science & Technology,27,556636,20616,22.9292
4,7267,58,Thomas Aquinas,Male,1225.0,Roccasecca,NaN,Italy,Europe,41.55000,13.66667,Philosopher,Philosophy,Humanities,103,17427900,169203,29.4352

In [16]:
y = df['historical_popularity_index']
X = df[['page_views','average_views', 'article_languages', 'birth_year']]
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [17]:
model = LinearRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.39777899828372892

In [18]:
df.head()

,id,id.1,full_name,sex,birth_year,city,state,country,continent,latitude,longitude,occupation,industry,domain,article_languages,page_views,average_views,historical_popularity_index
0,4110,3728,Gao Xingjian,Male,1940.0,Ganzhou,NaN,China,Asia,25.86667,114.93333,Writer,Language,Humanities,63,1439340,22847,24.1041
1,8160,3769,Wassily Leontief,Male,1905.0,Munich,NaN,Germany,Europe,48.13333,11.56667,Economist,Social Sciences,Science & Technology,43,621949,14464,24.0845
2,4927,1777,Justus von Liebig,Male,1803.0,Darmstadt,NaN,Germany,Europe,49.86667,8.65000,Chemist,Natural Sciences,Science & Technology,44,1277543,29035,25.3021
3,3031,5856,William Stanley Jevons,Male,1835.0,Liverpool,NaN,United Kingdom,Europe,53.40000,-3.00000,Economist,Social Sciences,Science & Technology,27,556636,20616,22.9292
4,7267,58,Thomas Aquinas,Male,1225.0,Roccasecca,NaN,Italy,Europe,41.55000,13.66667,Philosopher,Philosophy,Humanities,103,17427900,169203,29.4352

In [19]:
df = df.drop(df.columns[2:-1], axis=1)

In [20]:
df.head()

,id,full_name,sex,birth_year,city,state,country,continent,latitude,longitude,occupation,industry,domain,article_languages,page_views,average_views,historical_popularity_index
0,4110,Gao Xingjian,Male,1940.0,Ganzhou,NaN,China,Asia,25.86667,114.93333,Writer,Language,Humanities,63,1439340,22847,24.1041
1,8160,Wassily Leontief,Male,1905.0,Munich,NaN,Germany,Europe,48.13333,11.56667,Economist,Social Sciences,Science & Technology,43,621949,14464,24.0845
2,4927,Justus von Liebig,Male,1803.0,Darmstadt,NaN,Germany,Europe,49.86667,8.65000,Chemist,Natural Sciences,Science & Technology,44,1277543,29035,25.3021
3,3031,William Stanley Jevons,Male,1835.0,Liverpool,NaN,United Kingdom,Europe,53.40000,-3.00000,Economist,Social Sciences,Science & Technology,27,556636,20616,22.9292
4,7267,Thomas Aquinas,Male,1225.0,Roccasecca,NaN,Italy,Europe,41.55000,13.66667,Philosopher,Philosophy,Humanities,103,17427900,169203,29.4352